body {
    background-color: #D1BAE3;
    margin: 0;
       }
   header {
       width: 90%;
       height: 350px;
       margin: 0 auto;
       border: 1px solid black;
       margin-top: 40px;
       background: linear-gradient(150deg,#dc3d05,#f06e3e, #dc3d05, #9e00c5, #9e00c5, #9500cf);
       background-size: 400% 300%;
       animation: BgGradient 45s ease infinite;
   }
   
   @keyframes BgGradient {
       0% {background-position: 0% 50%;}
       50% {background-position: 100% 50%;}
       100% {background-position: 0% 50%;}
   }
   
   .contenedor{
           display: grid;
           grid-template-columns:35% 55% ;
           justify-content: space-around;
       }
       
    
       div img {
           width: 260px;
           height: 260px;
           border-radius: 50% ;
           padding-top: 10px;
           padding-left: 10px;
           position: relative;
           left: 131px;
           top: 17px;
           border-color:black ;
           border-width: 2px;
          }
          
   
   
          .NombreDelArtista {
           font-family: "Roboto" ;
           font-weight: bolder;
           position: relative;
           top: 52px ;
           right: 0px ;
           }
           
           h2.Subtitulo {
               font-family: "Raleway";
               font-weight: normal;
               position: relative;
               top: 40px;
               right: 0px ;
               font-size: 18px;
           }

   article.Articulo {
       width: 90%;
       margin: 0 auto;
       display: grid;
       grid-template-columns: 53% 42%;
       justify-content: space-between;
   }
   section {
       background-color: #D1BAE3;;
       margin-top: 130px;
       font-family: "Ubuntu";
       height: 320px;
       font-size: 24px;
       border: 1px  solid black   ;
       -webkit-box-shadow: -1px 2px 7px 3px rgba(41,41,41,1);
       -moz-box-shadow: -1px 2px 7px 3px rgba(41,41,41,1);
        box-shadow: -1px 2px 7px 3px rgba(41,41,41,1);
   }
    /*Mini reproductor*/
  nav.miniPlayer{
    position: absolute;
    right: 59%;
    top: 74%;
    z-index: 12;
}
nav.miniPlayer iframe{
     height: 70px;
}
    /*SECCION*/
   
   h1.tituloTop10 {
       text-align: center !important;
       font-weight: bold;
       font-size: 32px;
   }
   
   h1.tituloTop10 {
       text-align: center;
   }

   nav.canciones {
       display: grid;
       grid-template-columns: 10% 48% 27% 14%;
       justify-content: space-around;
       margin-bottom: 6px;
       margin-top: 6px;
       border-top: 1px solid black;
   }
   nav.canciones2 {
    display: grid;
    grid-template-columns: 10% 48% 27% 14%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-top: 1px solid black;
}
  div.numero {
      text-align: center;
      padding-top: 7px;
      border-bottom-color:1
  }
  .nombre a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-family:"Helvetica";
  }
  
  div.nombre {
      text-align: start;
      text-overflow: ellipsis;                        
      white-space: nowrap;            
      overflow: hidden;
      padding-top: 7px;
  }
div.header ul.nav i.fas.fa-heart{
    color: white;
}
div.header ul.nav i.fas.fa-heart:hover{
    color: #480082;
}
button i{
    font-size: 24px;
    border: none;
}
button {
    border: none;
    background-color: #D1BAE3;
}

  .simbolos {
      margin: 0 auto;
      padding-top: 8px;
  }
  .fas.fa-play{
    color: black;
    cursor: pointer;
    padding-left: 11px;
}
.fas.fa-play:hover {
    color:#480082;
}
.fas.fa-heart{
    color: black;
    cursor: pointer;
    padding-left: 7px;
}
.fas.fa-heart:hover {
    color:#480082;
}
.tiempo {
    text-align: start;
    padding-top: 8px;
}
  
   /*ACA TERMINA LA SECCION*/
     /*ASIDE*/
   
     aside {
        background-color: #D1BAE3;;
        margin-top: 93px;
        height: 400px;
        -webkit-box-shadow: -1px 2px 7px 3px rgba(41,41,41,1);
        -moz-box-shadow: -1px 2px 7px 3px rgba(41,41,41,1);
        box-shadow: -1px 2px 7px 3px rgba(41,41,41,1);
    }
    nav.fototexto {
        display: grid;
        grid-template-columns: 39% 61%
    }
   aside div img{
       position: relative;
       top: 0;
       bottom: 0;
       right: 0;
       left:0;
       border-radius: 0px;
   }

   
   aside.New h1 {
       font-family: "Ubuntu";
       font-size: 32px;
       text-align: center;
       text-overflow: ellipsis;                        
      white-space: nowrap;            
      overflow: hidden;
      color: black;
   }
   aside.New a h1:hover {
       text-decoration: underline;
   }
   
   h1.thriller {
    font-family: "Ubuntu";
    font-size: 32px;
    text-align: center;
    margin-top: 90px;
    font-size: 30px !important;
    margin-bottom: -9px;
}

h2.fecha{
font-family: "Arial";
    font-size: 20px;
    text-align: center;
    text-overflow: ellipsis;                        
      white-space: nowrap;            
      overflow: hidden;
}


   /*ACA TERMINA EL ASIDE*/
   
    main#main {
         width: 90%;
         justify-content: space-around;
         margin: 0 auto;
         background-color:#D1BAE3;
         margin-top: 5px ;
         padding-top: 0px;
         padding-left: 6px;
         display: grid;
         grid-template-columns: 20% 20% 20% 20%;

     }
     main.Titulo {
         width: 90%;
         justify-content: space-around;
         margin: 0 auto;
         padding: 5px 5px;
         margin-top: 40px ;
         margin-bottom: 5px;
         text-align: center;
         font-family: "Ubuntu";
     }

     hr {
         background-color: black;
     }
     main.Titulo h1 {
       background-color: #D1BAE3;
       width: 12%;
       font-size: 34px;
     }
   
   article.Principal img {
   width: 100%;
   }
   
/*FOOTER*/
footer {
    background-color: rgba(250, 108, 61, 0.925);
}
footer ul  {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 10px;
}
li.footer a {
    text-decoration: none;
}
li.footer{
    list-style-type: none; 
    color: black;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: "raleway";
}
.logofooter{
    width: 30px ;
}
ul.redesSociales i:hover{
    color:#dbff4b;
}
ul.redesSociales{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    width: 40%;
    margin: 0 auto;
    padding: 5px 0px 0px 0px;
}
ul.redesSociales i{
    color: black;
}
     ol, ul {
       padding-left: 0;
     }
   
     .Principal h2 {
       margin-block-start: 0.43em;
       margin-block-end: 0.1em;
       width: 100%;
     }
     
   .Principal a h2 {
       color: black;
       text-overflow: ellipsis;
       white-space: nowrap;
       overflow: hidden;
       font-family: "Raleway";
   }
   .Principal a h2:hover {
       text-decoration: underline;
   }
   
     .Principal p {
         margin-top: 0px;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
     }
   
   
     #encabezado .buscador{
       display: none;
     }
     #encabezado li.nav{
         display: none;
     }
     
     .flexsearch--wrapper {
         height: auto;
         width: auto;
         max-width: 100%;
         overflow: hidden;
         background: transparent;
         margin: 0;
         position: static;
     }
     .flexsearch--form {
         overflow: hidden;
         position: relative;
     }
     .flexsearch--input-wrapper {
         padding: 0 66px 0 0; 
         overflow: hidden;
     }
     .flexsearch--input {
         width: 100%;
     }
     .flexsearch--input {
         -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
         box-sizing: content-box;
         height: 25px;
         padding: 2px 0px 0 12px;
         border-color: rgba(250, 108, 61, 0.74);
         border-radius: 35px;
         border-style: solid;
         border-width: 2px;
         color: #480082;
         font-family: 'Raleway', sans-serif;
         font-size: 18px;
         -webkit-appearance: none;
         -moz-appearance: none;
     }
     .flexsearch--submit {
         position: absolute;
         right: 0;
         top: 0;
         display: block;
         width: 60px;
         height: 60px;
         padding: 0;
         border: none;
         margin-top: 20px; 
         margin-right: 5px; 
         background: transparent;
         color: #888;
         font-family: "Raleway", sans-serif;
         font-size: 40px;
         line-height: 60px;
     }
     .flexsearch--input:focus {
         outline: none;
         border-color: #480082;
     }
     .flexsearch--submit:hover { 
         color: #480082;
         cursor: pointer;
     }
     ::-webkit-input-placeholder {
         color:  #480082;  
     }
     input:-moz-placeholder {
         color:  #480082;
     }

     #encabezado ul.nav {
         display: grid;
         grid-template-columns: 80% 7% 10%;
         padding-left: 325px;
         margin: 0px;
         padding-top: 16px;
     }
     #encabezado ul.nav li {
         list-style-type: none;
         width: 90%;
         font-size: 25px;
         text-align: center;
         color: white;
         margin-bottom: none;
         padding-left: none;
     }
     #encabezado ul.nav a{
         text-decoration: none;
         color: white;    
     }
     #encabezado ul.nav a:hover {
         color: #480082;;
     }
     #encabezado img.logo {
         position: absolute;
         top: 10px;
         left: 10px;
         width: 10%;
         height: auto;
         border-radius: 0px;
         padding-top: 0px;
         padding-left: 0px;
     }
     #encabezado.container{
         background-image: url(../img/header-play.jpg);
         height: 65px;
     }
     #encabezado .header{
         position: absolute;
         top: 0px;
         left: 0px;
         background-color: rgba(225, 225, 225, 0.40);
         height: 65px;
         width: 100%;
       
        }
   
   
   @media (max-width:767px){
       .contenedor, article.Articulo { grid-template-columns:100% ;}
       div img {
           width: 208px;
           height: 208px;
           padding-left: 0;
           left: 0px;
       }
       .icono{
           text-align: center;
       }
       .NombreDelArtista {
           top: 0px;
           text-align: center;
           bottom: 5px;
           
       }
       .Subtitulo {
           top: 0px !important;
           text-align: center;
       }
        main.Titulo h1 {
            width: 157px;
        }
   
        main#main {
            grid-template-columns: 45% 45%;
        } 
        .Top ol {
        margin-left: 40px;
   
        }
   
        #encabezado ul.nav {
           padding-left: 170px;
           grid-template-columns: 68% 14% 10%;
           }  
           #encabezado ul.nav li {
            width: 100%;
             }
             li.footer{
                font-size: 15px;
            }
            nav.miniPlayer {
                position: absolute;
                z-index: 12;
                left: 7%; 
            }
       }
   
   
        @media (min-width:768px) and (max-width: 1199px)  {
           .contenedor, article.Articulo { grid-template-columns:100% ;}
           div img {
               width: 208px;
               height: 208px;
               padding-left: 0;
               left: 0px;
           }
           nav.miniPlayer {
            position: absolute;
            z-index: 12;
            left: 27%;
           }
           .icono{
               text-align: center;
           }
           .NombreDelArtista {
               top: 0px;
               text-align: center;
               margin-bottom: -8px;
               
           }
           .Subtitulo {
               top: 0px !important;
               text-align: center;
           }
            main.Titulo h1 {
                width: 157px;
            }
       
            main#main {
                grid-template-columns: 30% 30% 30%;
            } 
            article.Articulo {
                width: 70%;
            }
            .Top ol {
               margin-left: 40px;
          
               }
           }
           @media screen and (max-width: 420px){
   
               #encabezado li.buscador{
                 display: block;
             }
             li.footer {
                font-size: 10px;
            }
             #encabezado li.ultimo{
                 display: none;
             }
             #encabezado ul.nav {
                 grid-template-columns: 27% 48% 13%;
             }
             #encabezado img.logo {
                 width: 32%;
             }
             #encabezado.latin{
               position: absolute;
                 top: 122px;
                 left: 27%;
                 width: 46%;
                 height: 29%;
             }
             /*Mini reproductor*/
             nav.miniPlayer {
                position: absolute;
                left: 5%;
                width: 100%;
                padding-right: 5%;
            }
            nav.miniPlayer iframe {
                height: 70px;
                width: 92%;
            }
            div.imagen img {
                width: 100%;
                height: auto;
            }
            }