*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Oswald', sans-serif; 
  background-color: rgba(207, 182, 238, 0.781);
}
.uk-link, a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
/*PORTADA*/
.ondasWrapper{
  width: 300%;
  height: 635px;
  position: fixed;
  overflow: hidden;
  transform: translate3d(0, 0, 90deg);
  z-index: 2;   
}
.onda{
  opacity: 1;
  z-index: 3;
  position: absolute;
  top: 70%;
  left: -28%;
  background: rgba(255, 107, 57, 0.952);
  width: 100%;
  height: 300vw;
  transform-origin: 50% 49%;
  border-radius: 47%;
  animation: girar 8000ms infinite linear;
  will-change: transform;
}
.onda.-dos {
  animation: girar 9000ms infinite linear;
  opacity: 1;
  z-index: 4;
  background: rgba(225, 225, 225, 0.40);
  top: 70%;
  left: -32%;
}
.onda.-tres {
  animation: girar 6000ms infinite linear;
  opacity: 1;
  background: #840ce6e5;
  top: 70%;
  left: -36%;
  z-index: 2;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
ul.uk-subnav.uk-subnav-pill{
  background: linear-gradient(150deg,#dc3e0581,#f06d3e7c, #dc3e058a, #c5008385, #9e00c571, #9400cf85);
  background-size: 400% 650%;
  animation: BgGradient 7s ease infinite;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;

}
@keyframes BgGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.textoWrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 8;
}
.textoWrapper .brand {
  color: #440875;
  font-size: 105px;
  cursor: pointer;
  z-index: 8;
}
button.textoLink{
  width: 82%;
  margin-left: 4%;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #dbff4b;
  z-index: 8;
}
address, dl, fieldset, figure, ol, p, pre, ul {
  margin: 0 0 0px 0;
}
/*HAMBURGESA*/
#menuButton {
  position: absolute;
  top: 5%;
  color: #440875;
  left: 4%;
  z-index: 6;
  font-size: 25px;
}
#searchButton {
  position: fixed;
  top: 5%;
  color: #440875;
  left: 15%;
  z-index: 6;
  font-size: 25px;
}
#generoButton {
  position: fixed;
  top: 5%;
  color: #440875;
  left: 9%;
  z-index: 6;
  font-size: 25px;
}
#menuButton:hover {
  color: #dbff4b ;
}
#generoButton:hover {
  color: #dbff4b ;
}
li.uk-active.cadaGenero a:hover{
  color: #dbff4b ;
}
li.uk-active.cadaGenero a{
  color: #440875 ;
}
ul.redesSociales{
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  margin-top: 30%
}
ul.mainMenu li.opcion a.menuLink{
  color: black;
}
ul.mainMenu li.opcion a.menuLink:hover{
  color: #440875;
}
ul.mainMenu li.opcion{
  color: black;
  font-size: 1px;
  padding-top: 5px;
}
li.opcion.icono ul.tool{
  display: grid;
  grid-template-columns: 8% auto;
}
li.opcion.icono ul.tool i{
  font-size: 18px;
}
ul.tool li.textMenu{
  padding-left: 20px;
}
li.opcion.icono ul.tool i a:hover{
  color: #440875; 
}
li.opcion ul.tool  li a.textmenuLink{
  font-size: 30px;
}
hr{
  color: black;
}
ul.redesSociales li.redes i{
  color: black;
  font-size: 25px;
}
ul.redesSociales li.redes i:hover{
  color: #480075;
}
#searchButton:hover {
  color: #dbff4b;
}
#pintadito {
  color: rgb(255, 0, 55);
}
ol, ul {
  padding-left: 0px;
}
.uk-open>.uk-offcanvas-bar {
  left: 0;
  background-color: #dcff4f ;
}
.menu{
  padding-left: 4%;
  padding-top: 3%;
  background-color: rgba(255, 255, 255, 0.274);
  width: 30%;
  height: 100vh;
  z-index: 6;
  display: none;
}
[class*=uk-inline] {
  display: inline-block;
  position: relative;
  max-width: 100%;
  width: 0px;
  vertical-align: middle;
}
a.menuLink{
  font-size: 28px;
  color: grey;
  text-decoration: none;
}
a.menuLink:hover{
  color:#440875 ;
}
ul.mainMenu{
  padding-top: 10%;
}
.uk-button{
  padding: 0px 0px;
}
li {
  position: relative;
  list-style: none;
  line-height: 55px;
}
li.ultimo {
  padding-left: 12%;
}
li.ultimo a{
  font-size: 20px;
  padding-top: 10px;
}
li.ultimo a img {
  width: 7%;
}
/*MINI PLAYER*/
nav.miniPlayer{
 position: fixed;
 right: 2%;
 top: 2%;
 z-index: 12;
}
nav.miniPlayer iframe{
  height: 70px;
  position: absolute;
    top: 5%;
    right: 3%;
}

/*BUSCADOR*/
div.flexsearch--wrapper.uk-dropdown.uk-open.uk-dropdown-bottom-left{
  padding: 0%;
}
.flexsearch--wrapper {
  height: auto;
  width: 20%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
  z-index: 25;
}
.flexsearch--form {
  overflow: hidden;
  padding-left: 40%;
  position: relative;
  z-index: 25;
}
.flexsearch--input-wrapper {
  padding: 0px 20px 0 0;
  z-index: 25;
  position: fixed;
  top: 11%;
  left: 3%;
}
.flexsearch--input {
  width: 100%;
  z-index: 25;
  height: 20px;
  padding: 2px 0px 2px 12px;
  border-color: #480082;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  box-sizing: content-box;
  color: #480082;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  z-index: 25;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-top: 20px; 
  margin-right: 5px; 
  background: transparent;
  color: #888;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  line-height: 60px;
}
.flexsearch--input:focus {
  outline: none;
  border-color: #dbff4b;
}
.flexsearch--submit:hover { 
  color: #dbff4b;
  cursor: pointer;
}
::-webkit-input-placeholder {
color:  #480082;  
}
input:-moz-placeholder {
  color:  #480082;
}
.uk-dropdown-nav {
  height: 60vh;
  overflow-y: scroll;
}
/*RANKINGS*/
button:focus{
outline: 0px;
}

div.container.itemcontenedor.imgArt button.repro{
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  position: relative;
  top: 67%;
  left: 26%;
  transform: translateY(-69%);
  background-color: cornsilk;
}
div.container.itemcontenedor  button.repro{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  top: 68%;
  left: 5%;
  transform: translateY(-69%);
  background-color: cornsilk;
}
div.container.itemcontenedor.imgArt button.save{
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  position: relative;
  top: 67%;
  left: 30%;
  transform: translateY(-69%);
  background-color: cornsilk;
}
div.container.itemcontenedor  button.save{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  top: 68%;
  transform: translateY(-69%);
  left: 10%;
  background-color: cornsilk;
}
div.container.itemcontenedor  button.albumSave{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  top: 68%;
  transform: translateY(-69%);
  left: 10%;
  background-color: cornsilk;
}
div.container.itemcontenedor  button.savePlaylist{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  top: 68%;
  transform: translateY(-69%);
  left: 10%;
  background-color: cornsilk;
}
section.rankings{
  display: none;
  padding-top: 3%;
}
a.nombreLink{
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
ul.uk-switcher.uk-margin{
  width: 98%;
  margin: 0 auto;
}
.uk-subnav-pill>.uk-active>a {
  color: #480082;
  font-size: 30px;
  font-family: sans-serif;
  border-bottom: 2px solid #480082;
  background-color: #ffffff00;
}
.uk-subnav {
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 35px;
}
.uk-subnav-pill>.uk-active>a {
  background-color: none;
  color: none;
}
.uk-subnav-pill>*>:first-child {
  padding: 5px 10px;
  background: 0 0;
  color: #480082;
}
.uk-subnav>*>:first-child {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
}
img.imgSlide.slide.artistacontenedor{
  border-radius: 50%;
  width: 100%;
}
.itemcontenedor img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.container.itemcontenedor{
   width: 100%;
   position: relative;
   height: 50vh;
}
div.itemcontenedor:hover img{
  border: solid 3px #dbff4b;
}
div.itemcontenedorA:hover img{
  border: solid 3px #dbff4b;
}
a.slide-button {
  background-color: rgba(255, 107, 57, 0.842);
  border-radius: 50%;
}

/*GO BACK*/
div.circulo {
  background-color:gray;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.btnback{
  display: none;
  padding-left: 3%;
  position: absolute;
  bottom: 5%;
}
div.btnback div.textoBack a{
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}
.spanLastSong{
  display: none;
}
@media screen and (max-width: 930px){
nav.miniPlayer{
  width: 96%;
  margin: 0px auto 0px auto;
}
ul.listadoAlbums{
  width: 102%;
}
ul.listadoPlaylist{
  width: 102%;
}
ul.listadoArtistas{
  width: 102%;
}
.spanLastSong{
  display: block;
  font-size: 22px;
  color:  #480082;
  position: absolute;
  top: 4%;
  z-index: 8;
  right: 4%
}
.flexsearch--form {
  overflow: hidden;
  padding-left: 50%;
}
.spanLastSong:hover{
  color: #dbff4b ;
}
div.textoWrapper p.brand {
  font-size: 98px;
}
button.repro {
  width: 40px;
  height: 38px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 68%;
  left: 17%;
  background-color: cornsilk;
}
div.btnback div.circulo{
  width: 20px;
  height: 20px;
}
div.btnback div.textoBack{
  font-size: 20px;
}
#searchButton {
  left: 25%;
  font-size: 25px;
}
.uk-subnav>*>:first-child {
  font-size: 26px;
}
.uk-subnav-pill>.uk-active>a {
  font-size: 26px;
}
div.btnback div.circulo {
  width: 20px;
  height: 20px;
}
div.textoBack a{
  font-size: 18px;
}

.flexsearch--input {
  width: 90%;
}
.flexsearch--input-wrapper {
  top: 11%;
  left: 3%;
}
#menuButton {
  font-size: 26px;
}
#generoButton {
  left: 14%;
}
section.rankings {
  padding-top: 6%;
}
nav.miniPlayer iframe {
  top: 5%;
  right: 0%;
}
.uk-grid>* {
  padding-left: 46px;
}
}
@media screen and (max-width: 598px){
 div.container.itemcontenedor li.uk-active{
  width: 98%;
  margin: 0 auto;
}
.flexsearch--input-wrapper {
  top: 14%;
  left: 36%;
}
div.playerbutton ul.playerbuttons li.ultimo{
  display: block;
}
div.textoWrapper p.brand {
  font-size: 85px;
}
button.textoLink {
  width: 100%;
  margin-left: 0%;
}
.uk-subnav-pill>.uk-active>a {
  font-size: 17px;
}
div.btnback div.textoBack a {
  font-size: 20px;
}
div.btnback div.circulo {
  width: 18px;
  height: 18px;
}
section.rankings {
  padding-top: 13%;
}
.flexsearch--input {
  width: 90%;
}
.uk-subnav>*>:first-child {
  font-size: 19px;
}
div.btnback div.textoBack a {
  font-size: 18px;
}
div.btnback div.circulo {
  width: 16px;
  height: 16px;
}
.flexsearch--form {
  padding-left: 70%;
}
div.container.itemcontenedor.imgArt button.save {
  top: 58%;
  transform: translateY(-64%);
  width: 28px;
  height: 28px;
}
div.container.itemcontenedor.imgArt button.repro {
  top: 58%;
  transform: translateY(-64%);
  width: 28px;
  height: 28px;
}
div.container.itemcontenedor button.repro {
  top: 58%;
  transform: translateY(-64%);
  width: 28px;
  height: 28px;
}
nav.miniPlayer {
  position: fixed;
  top: 2%;
  z-index: 15;
}
nav.miniPlayer iframe {
  height: 60px;
  width: 100%;
  right: 0%;
  left: 0%;
}
div.container.itemcontenedor button.save{
  top: 58%;
  transform: translateY(-64%);
  width: 28px;
  height: 28px;
}
div.container.itemcontenedor button.albumSave{
  top: 58%;
  transform: translateY(-64%);
  width: 28px;
  height: 28px;
}
div.container.itemcontenedor button.savePlaylist{
  top: 58%;
  transform: translateY(-64%);
  width: 28px;
  height: 28px;
}
#menuButton {
  top: 14%;
}
#searchButton {
  left: 40%;
  top: 14%;
}
#generoButton {

  top: 14%;
  left: 20%;
}
}
@media screen and (max-width: 355px){
  .uk-grid>* {
    padding-left: 70px;
}
.uk-child-width-1-2>* {
  width: 96%;
}
section.rankings {
  padding-top: 24%;
}
div.container.itemcontenedor button.repro {
  top: 75%;
  transform: translateY(-64%);
  width: 40px;
  height: 40px;
}
div.container.itemcontenedor button.save {
  top: 75%;
  transform: translateY(-64%);
  width: 40px;
  height: 40px;
}
div.container.itemcontenedor button.albumSave {
  top: 75%;
  transform: translateY(-64%);
  width: 40px;
  height: 40px;
}
div.container.itemcontenedor button.savePlaylist {
  top: 75%;
  transform: translateY(-64%);
  width: 40px;
  height: 40px;
}
div.container.itemcontenedor.imgArt button.repro {
  top: 75%;
  transform: translateY(-64%);
  width: 40px;
  height: 40px;
  left: 32%;
}
div.container.itemcontenedor.imgArt button.save {
  top: 75%;
  left: 36%;
  transform: translateY(-64%);
  width: 40px;
  height: 40px;
}
.container.itemcontenedor {
  width: 100%;
  position: relative;
  height: 44vh;
}

div.btnback div.textoBack a {
  font-size: 24px;
}
.uk-subnav>*>:first-child {
  font-size: 15px;
}
}