*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Oswald', sans-serif; 
    background-color: rgba(207, 182, 238, 0.781);
}
.buscador{
  display: none;
}
li.nav{
    display: none;
}
.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}
.flexsearch--form {
    overflow: hidden;
    position: relative;
}
.flexsearch--input-wrapper {
    padding: 0 66px 0 0; 
    overflow: hidden;
}
.flexsearch--input {
    width: 100%;
}
.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 25px;
    padding: 2px 0px 0 12px;
    border-color: rgba(250, 108, 61, 0.74);
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    color: #480082;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-top: 20px; 
    margin-right: 5px; 
    background: transparent;
    color: #888;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    line-height: 60px;
}
.flexsearch--input:focus {
    outline: none;
    border-color: #480082;
}
.flexsearch--submit:hover { 
    color: #480082;
    cursor: pointer;
}
::-webkit-input-placeholder {
    color:  #480082;  
}
input:-moz-placeholder {
    color:  #480082;
}
ul.nav {
    display: grid;
    grid-template-columns: 80% 7% 10%;
    padding-left: 325px;
    margin: 0px;
    padding-top: 16px;
}
ul.nav li {
    list-style-type: none;
    width: 90%;
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: none;
    padding-left: none;
}
ul.nav a{
    text-decoration: none;
    color: white;    
}
ul.nav a:hover {
    color: #480082;;
}
img.logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10%;
    height: auto;
}
.container{
    background-image: url(../img/header-play.jpg);
    height: 65px;
}
.header{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(225, 225, 225, 0.40);
    height: 65px;
    width: 100%;
}
.opciones{
    border-bottom: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 5%; 
    margin-right: 6%;
    background-color:  rgba(225, 225, 225, 0.40);
}
.opciones li{
    list-style-type: none;
    font-size: 25px;
    font-family: "Raleway";
    color: black;
    text-align: center;
}
li.primero{
    color: #480082
}
li.op:hover{
    color: #480082;
    cursor: pointer;
}
.play {
    color: black;
    background-color: rgba(250, 108, 61);
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px;
    border: 1px solid rgba(250, 108, 61, 0.575) ;
    cursor: pointer;
    height: 36px;
    padding: 0 12px;
    font-size: 12px;
    border-radius: 3px;
    justify-content: center;
    text-decoration: none;
}
.playlist {
    width: 100%;
    margin-left: 7%;
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: rgba(225, 225, 225, 0.40) ;
    padding: 5px 25px;
}
.musica{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 8% 28% 28% 28% 8%;
    padding-top: 15px;
    border-top: 1px solid white;
    font-size: 18px;
}
.inicio{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 31% 16%;
    margin-left: 8%;
    font-size: 18px;
    font-weight: bold;
}
footer {
    background-color: rgba(250, 108, 61, 0.925);
}
footer ul  {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 10px;
}
li.footer a {
    text-decoration: none;
}
li.footer{
    list-style-type: none; 
    color: black;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: "raleway";
}
.logofooter{
    width: 30px ;
}
ul.herramientas li{
    list-style: none;
    padding-top: 5px;
    color: #480082;
    cursor: pointer;
    margin: 5% 15px;
    text-align: center;
}
div.cuerpo{
    display: grid;
    grid-template-columns: 70% 18%;
    gap: 12%;
}
ul.herramientas {
    position: fixed;
    background-color: rgba(225, 225, 225, 0.40);
    border-radius: 10px;
    margin: 2px 5px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
li.fav {
    padding-bottom: 22px;
    font-size: 30px;
}
li.alea{
    font-size: 40px;
    padding-bottom: 22px;
}
li.repro {
    font-size: 50px;
    padding-bottom: 22px;
}
li.una{
    padding-bottom: 22px;
    font-size: 40px;
}
li.vol{
    font-size: 30px;
}
.playlist a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #480082;
    font-weight: bold;
}
@media screen and (max-width: 768px){
     ul.nav {
    padding-left: 170px;
    grid-template-columns: 68% 14% 10%;
    }  
     ul.nav li {
     width: 100%;
      }
ul.opciones {
    padding: 0px;
}
.opciones {
    margin-left: 7%;
    margin-right: 8%;
}
div.cuerpo{
    display: inline;
}
.playlist {
    width: 79%;
    margin-left: 7%;
    margin-bottom: 20px;
}
aside ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
li.fav {
    padding-bottom: 5px;
}
li.alea{
    padding-bottom: 5px;
}
li.repro {
    font-size: 50px;
    padding-bottom: 5px;
}
li.una{
    padding-bottom: 5px
}
ul.herramientas{
    position: relative;
   }
}
@media screen and (max-width: 425px){
     aside {
        display: none;
    }
    .playlist {
        width: 100%;
        margin: 0% 0%;
        padding: 2% 0%;
    }
    ul.opciones{
        margin: 10px 0px;
    }
    li.footer {
        font-size: 10px;
    }
      li.buscador{
        display: block;
    }
      li.ultimo{
        display: none;
    }
      ul.nav {
        grid-template-columns: 27% 48% 13%;
    }
    img.logo {
        width: 32%;
    }
}