body {
    background-color: #D1BAE3;
    }

/*banner*/
.container{
  width: 100%;
  height: 625px;
  background-image: url(../img/home.png.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
div.banner{
  background-color: rgba(225, 225, 225, 0.40);
  width: 70%;
  height: 625px;
  position: relative;
  top: 0;
  left: 0;
  z-index: auto;
}

.flexsearch--wrapper {
height: auto;
width: auto;
max-width: 100%;
overflow: hidden;
background: transparent;
margin: 0;
position: static;
}
.flexsearch--form {
overflow: hidden;
position: relative;
}
.flexsearch--input-wrapper {
padding: 0 66px 0 0; 
overflow: hidden;
}
.flexsearch--input {
width: 100%;
}
.flexsearch--input {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 25px;
padding: 2px 0px 0 12px;
border-color: rgba(250, 108, 61, 0.74);
border-radius: 35px;
border-style: solid;
border-width: 2px;
color: #480082;
font-family: 'Raleway', sans-serif;
font-size: 18px;
-webkit-appearance: none;
-moz-appearance: none;
}
.flexsearch--submit {
position: absolute;
right: 0;
top: 0;
display: block;
width: 60px;
height: 60px;
padding: 0;
border: none;
margin-top: 20px; 
margin-right: 5px; 
background: transparent;
color: #888;
font-family: "Raleway", sans-serif;
font-size: 40px;
line-height: 60px;
}
.flexsearch--input:focus {
outline: none;
border-color: #480082;
}
.flexsearch--submit:hover { 
color: #480082;
cursor: pointer;
}
::-webkit-input-placeholder {
color:  #480082;  
}
input:-moz-placeholder {
color:  #480082;
}
ul.nav{
display: grid;
grid-template-columns:  auto auto auto;
width: 50%;
margin-left: 25px;
padding-left: 10px;
padding-top: 10px;
}
ul.nav li {
list-style-type: none;
width: 90%;
font-size: 25px;
text-align: center;
}
ul.nav a{
text-decoration: none;
color: white;
}
ul.nav a:hover {
color: #480082;;
}
ul.nav li.primero {
border-left: none;
}
/*display none*/
.buscador{
  display: none;
}
.nav{
  display: none;
}
.publi{
  display: none;
}
div.iframe{
  display: none;
}


 .imagenes{
  height: 550px;
}


.logo{
  position: absolute;
  top: 115px;
  left: 12%;
  width: 32%;
  height: 55%;
  border-radius: 30px;
}
 
.playlist{
    margin: 0 auto;
    width: 75%;
    margin-bottom: 10%;
    font-family: 'Raleway', sans-serif;
    
}

.musica{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 5% 30% 30% 20%;
    padding-top: 15px;
    border-top: 1px solid black;
    font-size: 16px;
    
}
.inicio{
    margin: 20px 50px;
    display: grid;
    grid-template-columns: 33% 34% 20%;
    margin-left: 5%;
    font-size: 18px;
}


/*footer*/
footer {
    background-color: rgba(250, 108, 61, 0.925);
  }
  footer ul  {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 10px;
  }
  li.footer a {
    text-decoration: none;
  }
  li.footer{
    list-style-type: none; 
    color: black;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
  }
  .logofooter{
    width: 30px ;
  }
  ol, ul {
    padding-left: 0;
  }
