*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-family: 'Oswald', sans-serif; 
   background-color: rgba(207, 182, 238, 0.781);
}
.uk-link, a {
   color: gray;
   text-decoration: none;
   cursor: pointer;
}

div.tarjetas.albumTarjeta.uk-position-relative.uk-visible-toggle.uk-light.uk-slider-container{
    margin: 50px auto 0px auto;
}
header{
    width: 100%;
    height: 16vh;
    position: fixed;
    z-index: 1;
    background-image: url(../img/header-play.jpg);

}
#pintadito{
    color: rgb(255, 0, 55);
}

.banner{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(225, 225, 225, 0.40);
    height: 16vh;
    width: 100%;
    z-index: 2;
}
/*MENU HAMBURGUESA*/
#menuButton {
    position: fixed;
    top: 5%;
    color: #440875;
    left: 4%;
    z-index: 6;
    font-size: 25px;
}
li.uk-active.cadaGenero a{
    color: #440875 ;
  }
  li.uk-active.cadaGenero a:hover{
    color: #dbff4b ;
  }
  #searchButton {
    position: fixed;
    top: 5%;
    color: #440875;
    left: 13%;
    z-index: 6;
    font-size: 25px;
  }
#generoButton {
    position: fixed;
    top: 5%;
    color: #440875;
    left: 8%;
    z-index: 6;
    font-size: 25px;
  }
  #generoButton:hover {
    color: #dbff4b ;
  }
  #searchButton:hover {
    color: #dbff4b ;
  }
#menuButton:hover {
    color: #dbff4b ;
}
ul.redesSociales{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    margin-top: 20%
}
li.opcion ul.tool  li a.textmenuLink{
    font-size: 30px;
  }
ul.mainMenu li.opcion a.menuLink{
    color: black;
}
ul.mainMenu li.opcion a.menuLink:hover{
    color: #440875;
}
ul.mainMenu li.opcion{
    color: black;
    font-size: 1px;
}
li.opcion.icono ul.tool{
    display: grid;
    grid-template-columns: 8% auto;
}
li.opcion.icono ul.tool i{
    font-size: 18px;
}
ul.tool li.textMenu{
    padding-left: 20px;
}
li.opcion.icono ul.tool i a:hover{
    color: #440875; 
}
hr{
    color: black;
}
ul.redesSociales li.redes i{
    color: black;
    font-size: 25px;
}
ul.redesSociales li.redes i:hover{
    color: #480075;
}
ol, ul {
    padding-left: 0px;
}
.uk-open>.uk-offcanvas-bar {
    left: 0;
    background-color: #dcff4f ;
}
div.texto p.tituloAlbum {
    padding-top: 0%;
}
.menu{
    padding-left: 4%;
    padding-top: 3%;
    background-color: rgba(255, 255, 255, 0.274);
    width: 30%;
    height: 100vh;
    z-index: 6;
    display: none;
}
a.menuLink{
    font-size: 28px;
    color: grey;
    text-decoration: none;
}
a.menuLink:hover{
    color:#440875 ;
}
ul.mainMenu{
    padding-top: 10%;
}
.uk-button{
    padding: 0px 0px;
}
li {
    position: relative;
    list-style: none;
    line-height: 55px;
}
li.ultimo {
    padding-left: 12%;
}
li.ultimo a{
    font-size: 20px;
    padding-top: 10px;
}
li.ultimo a img {
    width: 7%;
}
/*MINI PLAYLIST*/
/*BUSCADOR*/
div.flexsearch--wrapper.uk-dropdown.uk-open.uk-dropdown-bottom-left{
    padding: 0%;
  }
.flexsearch--wrapper {
    height: auto;
    width: 20%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
    z-index: 25;
}
.flexsearch--form {
    overflow: hidden;
    padding-left: 40%;
    position: relative;
    z-index: 25;
}
.flexsearch--input-wrapper {
    padding: 0px 20px 0 0;
    z-index: 25;
    position: fixed;
    top: 10%;
    left: 3%;
}
.uk-dropdown-nav {
    height: 60vh;
    overflow-y: scroll;
  }
.flexsearch--input {
    width: 100%;
    z-index: 25;
    height: 20px;
    padding: 2px 0px 2px 12px;
    border-color: #480082;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    box-sizing: content-box;
    color: #480082;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: 25;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-top: 20px; 
    margin-right: 5px; 
    background: transparent;
    color: #888;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    line-height: 60px;
}
.flexsearch--input:focus {
    outline: none;
    border-color: #dbff4b;
}
.flexsearch--submit:hover { 
    color: #dbff4b;
    cursor: pointer;
}
::-webkit-input-placeholder {
  color:  #480082;  
}
input:-moz-placeholder {
    color:  #480082;
}
/*SIN RESULTADOS*/
div.sinResultados{
    width: 90%;
    height: 50vh;
    position: absolute;
    left: 5%;
    top: 25%;
    background: linear-gradient(150deg,#dc3e0581,#f06d3e7c, #dc3e058a, #c5008385, #9e00c571, #9400cf85);
    background-size: 400% 300%;
    animation: BgGradient 7s ease infinite;
    display: none;
}
@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
div.sinResultados p{
    color: white;
    text-align: center;
    font-size: 43px;
    padding-top: 60px;
}
div.sinResultados img{
    position: absolute;
    bottom: 5%;
    width: 20%;
    left: 1%;
}
nav.miniPlayer{
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 12;
}
nav.miniPlayer iframe{
     height: 70px;
}
/*RESULTADOS CANCIONES*/
main.resultadosDeBusqueda{
    width: 85%;
    margin: 0 auto;
    color: black;
    padding-top: 13vh;
}
.uk-card-media-top img{
    border-radius: 3%;
}
div.uk-card.uk-card-small.uk-card-default{
    border-radius: 3%;
}
div.uk-card.uk-card-small.uk-card-default a{
    text-decoration: none;
}
.texto p {
    font-size: 18px;
    font-family: "raleway";
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5%;
}
.texto p:hover{
    color: #480082 ;
}
.uk-card-media-top img.artistasim{
    border-radius: 50%;
    background-color: rgba(207, 182, 238, 0);
}
.uk-card.uk-card-small.uk-card-default{
    background-color: rgba(255, 255, 255, 0);
}
.uk-card-small .uk-card-body, .uk-card-small.uk-card-body {
    padding: 20px 20px;
    text-align: center;
}
.portada{
  border-radius: 10px;
}
h1{
    font-size: 30px;
    color: black;
    padding-left: 10px;
    font-family: "raleway";
}
h1:hover{
    color: #480075;
    font-weight: bolder;
}
.info-container a{
    text-decoration: none;
}
section.resultadoArtista figure button.repro{
    margin-left: 0px;
}
.canciones{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 7% 72% 15% 6%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    border-top: 1px solid white;
    font-size: 17px;
    width: 85%;
    color: black;
}
button{
    border: none;
    background: none;
}
.canciones i{
    font-size: 18px;
}
button:focus{
    outline: 0px;
}
.uk-card-default {
    box-shadow: none;
}
div.uk-card-body{
    background-color: rgba(255, 255, 255, 0);
}
.tarjetas{
    width: 85%;
    margin: 50px auto;
}
.canciones i:hover{
    color:#dbff4b;
}
button.escuchar ul.escucharbutton li{
    padding-top: 20px;
}
button.agregar ul li{
    padding-top: 20px;
}
a.slide-button {
    background-color: rgba(255, 107, 57, 0.842);
    border-radius: 50%;
}
.uk-card-body{
    background-color: rgba(207, 182, 238, 0.87);
}
h3.uk-card-title{
    font-size: 18px;
    text-align: center;
    margin: 0px;
}
h3.uk-card-title:hover{
    font-weight: bold;
    color:#480075;
}
button.save {
    width: 40px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: cornsilk;
}
button.saveAlbum {
    width: 40px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: cornsilk;
}
button.saveArtista {
    width: 40px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: cornsilk;
}
button.repro {
    width: 40px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: cornsilk;
    margin-right: 10px;
}
button.reproArtista {
    width: 40px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: cornsilk;
    margin-right: 10px;
}
@media screen and (max-width: 690px){
    div.sinResultados p {
        color: white;
        text-align: center;
        font-size: 38px;
        padding-top: 26px;
    }
    div.sinResultados img {
        position: absolute;
        bottom: 5%;
        width: 29%;
        left: 1%;
    }
    .flexsearch--input-wrapper {
        padding: 0px 20px 0 0;
        z-index: 25;
        position: fixed;
        top: 10%;
        right: 71%;
        left: auto;
    }
    #menuButton {
        position: fixed;
        top: 4%;
        color: #440875;
        left: 4%;
        font-size: 28px;
    }
    #generoButton {
        position: fixed;
        top: 4%;
        color: #440875;
        left: 12%;
        z-index: 6;
        font-size: 28px;
    }
    #searchButton {
        position: fixed;
        top: 4%;
        color: #440875;
        left: 21%;
        z-index: 6;
        font-size: 28px;
    }
   
}
@media screen and (max-width: 530px){
.texto p{
    font-size: 28px;
    padding-left: 17px;
} 
.banner{
        height: 23vh;
    }
header{
    height: 23vh;
};
h3.uk-card-title {
    font-size: 16px;
}
.flexsearch--input-wrapper {
    padding: 0px 20px 0 0;
    z-index: 25;
    top: 16%;
    left: 29%;
    right: 11%;
}
button.repro {
    width: 26px;
    height: 26px;
    margin-right: 2px;
}
button.reproArtista {
    width: 26px;
    height: 26px;
    margin-right: 2px;
}
button.save{
    width: 26px;
    height: 26px;
}
button.saveAlbum{
    width: 26px;
    height: 26px;
}
button.saveArtista{
    width: 26px;
    height: 26px;
}
figure div{
    padding-left: 28px;
}
section.resultadoArtista figure button.repro{
    margin-left: 28px;
}
.uk-card-small .uk-card-body, .uk-card-small.uk-card-body{
    text-align: center;
}
h1 {
    font-size: 28px;
}
img.portada{
    width: 80%;
    margin: 0 auto;
}
main.resultadosDeBusqueda{
    width: 98%;
    margin: 0 auto;
   padding-top: 6%;
}
div.cancionesContainer{
    width: 100%;
    padding-top: 19vh;
}

#menuButton {
    position: fixed;
    top: 16%;
    color: #440875;
    left: 9%;
    z-index: 6;
    font-size: 25px;
}
#searchButton {
    position: fixed;
    top: 16%;
    color: #440875;
    left: 31%;
    z-index: 6;
    font-size: 26px;
}
#generoButton {
    position: fixed;
    top: 16%;
    color: #440875;
    left: 19%;
    z-index: 6;
    font-size: 26px;
}
.canciones i{
    font-size: 15px;
}
.canciones{
    padding-left: 0px;
    font-size: 15px;
}
nav.miniPlayer {
    position: fixed;
    top: 2%;
    left: 3%;
    z-index: 15;
}
nav.miniPlayer iframe {
    height: 70px;
    width: 96%;
}
div.sinResultados p {
    color: white;
    text-align: center;
    font-size: 37px;
    padding-top: 28px;
}
div.sinResultados {
    margin-top: 5%;
    height: 65vh;
}
div.sinResultados img {
    position: absolute;
    bottom: 5%;
    width: 45%;
    left: 1%;
}
}