*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Oswald', sans-serif; 
    background-color:  #D1BAE3;;
}
/*ENCABEZADO*/
.buscador{
    display: none;
}
li.nav{
    display: none;
}
.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}
.flexsearch--form {
    overflow: hidden;
    position: relative;
}
.flexsearch--input-wrapper {
    padding: 0 66px 0 0; 
    overflow: hidden;
}
.flexsearch--input {
    width: 100%;
}
.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 25px;
    padding: 2px 0px 0 12px;
    border-color: rgba(250, 108, 61, 0.74);
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    color: #480082;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-top: 20px; 
    margin-right: 5px; 
    background: transparent;
    color: #888;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    line-height: 60px;
}
.flexsearch--input:focus {
    outline: none;
    border-color: #480082;
}
.flexsearch--submit:hover { 
    color: #480082;
    cursor: pointer;
}
::-webkit-input-placeholder {
color:  #480082;  
}
input:-moz-placeholder {
    color:  #480082;
}
ul.nav {
    display: grid;
    grid-template-columns: 78% 7% 7% 5%;
    padding-left: 325px;
    margin: 0px;
    padding-top: 16px;
}
ul.nav li {
    list-style-type: none;
    width: 90%;
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: none;
    padding-left: none;
}
ul.nav a{
    text-decoration: none;
    color: white;    
}
 ul.nav a:hover {
    color: #480082;;
}
img.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10%;
    height: auto;
    border-radius: 0px;
    padding-top: 0px;
    padding-left: 0px;
}
.container{
    background-image: url(../img/header-play.jpg);
    height: 65px;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(225, 225, 225, 0.40);
    height: 65px;
    width: 100%;
}
/*TITULO*/
section{
    display: grid;
    margin-top: 5%;
    font-family: "raleway";
    grid-template-columns: 250px auto;
    padding-left: 13%;
  
}
figure{
    width: 100%;
}
img.portada{
    border-radius: 3%;
    width: 250px;
    height: 250px;
}
figure div i{
    color: black;
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 40px;
}
div.i {
    height: 10px;
}
figure div i:hover{
    color:#480082 ;
}
h1{
    font-family: "Roboto" ;
    font-weight: bolder;
    padding-top: 20px;
}
ul.datos-album{

    padding-left: 0px;
    margin-left: 0px;
    margin-top: 30px;
}
ul.datos-album li{
    list-style: none;
    font-size: 12px;
}
.info-container{
    margin-left: 5%
}
a{
    text-decoration: none;
    color: black;    
}
.info-container a:hover{
    color: #480082;
    font-weight: bold;
}
button{
    cursor: pointer;
    height: 32px;
    display: inline-flex;
    padding: 0 12px;
    position: relative;
    font-size: 12px;
    max-width: 100%;
    align-items: center;
    font-weight: 600;
    line-height: 30px;
    border-radius: 3px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color:  #480082;
    border: 1px solid #480082;
} 
button.escuchar {
    width: 90%;
}
div.toolbar{
    display: grid;
    grid-template-columns: 15% 25%;
    margin-left: 13%;
}
ul.redesSociales{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    width: 40%;
    margin: 0 auto;
    padding: 5px 0px 0px 0px;
}
button.escuchar ul{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
    padding: 0px 0px;
}
button.agregar ul{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
    padding: 0px 0px;
}
button.agregar ul li.icono{
    padding-right: 10px;
}
button.escuchar ul li.icono{
    padding-right: 10px;
}
button.escuchar ul li.icono i:hover{
    color: white;
}
button.agregar ul li.icono i:hover {
    color: white;
}
 /*Mini reproductor*/
 nav.miniPlayer{
    position: fixed;
    right: 2%;
    top: 2%;
    z-index: 12;
}
nav.miniPlayer iframe{
     height: 70px;
}
.simbolos {
    margin: 0 auto;
}
.fas.fa-play{
    color: black;
    cursor: pointer;
}
.fas.fa-play:hover {
    color:#480082;
}
button.Repro {
    border: none;
    background-color: #D1BAE3;
    padding-bottom: 7px;
    font-size: 18px;
}
/*DETALLE*/
main{
    width: 75%;
    margin: 0 auto;
    color: black;
}
.uk-card-media-top img{
    border-radius: 3%;
}
div.uk-card.uk-card-small.uk-card-default{
    border-radius: 3%;
}
div.uk-card.uk-card-small.uk-card-default a{
    text-decoration: none;
}
.texto p {
    font-size: 18px;
    font-family: "raleway";
    color: black;
    margin-top: 6%;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
}
.texto p:hover{
    color: #480082 ;
}
.uk-card-media-top img.artistasim{
    border-radius: 50%;
    background-color: rgba(207, 182, 238, 0);
}
.uk-card.uk-card-small.uk-card-default{
    background-color: rgba(255, 255, 255, 0);
}
.canciones{
    margin: 0 auto;
    margin-bottom: 11px;
    margin-top: 20px;
    display: grid;
    grid-template-columns:  6% 71% 14% 5%;;
    padding-top: 17px;
    padding-left: 18px;
    border-top: 1px solid white;
    font-size: 17px;
}
.uk-card-default {
    box-shadow: none;
}
div.uk-card-body{
    background-color: rgba(255, 255, 255, 0);
}
.tarjetas{
    width: 80%;
    margin: 50px auto;
}
i:hover{
    color:#dbff4b;
}
button.escuchar ul.escucharbutton li{
    padding-top: 20px;
}
button.agregar ul li{
    padding-top: 20px;
}
/*FOOTER*/
footer {
    background-color: rgba(250, 108, 61, 0.925);
}
footer ul  {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 10px;
}
li.footer a {
    text-decoration: none;
}
li.footer{
    list-style-type: none; 
    color: black;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: "raleway";
}
.logofooter{
    width: 30px ;
}
a.slide-button {
    background-color: rgba(255, 107, 57, 0.842);
    border-radius: 50%;
}
.uk-card-body{
    background-color: rgba(207, 182, 238, 0.87);
}
h3.uk-card-title{
    font-size: 16px;
    text-align: center;
}


@media screen and (max-width: 710px){
nav.miniPlayer{
    display: none;
}
li.footer{
    font-size: 16px;
}
h1{
    padding-top: 15px;
}
.spanLastSong{
    display: block;
    font-size: 22px;
    color:  #480082;
    position: absolute;
    top: 4%;
    z-index: 8;
    right: 4%
}
.spanLastSong:hover{
    color: #dbff4b ;
}
.searchButton {
    left: 13%;
    font-size: 22px;
}
div.toolbar {
    grid-template-columns: 15% 25%;
    margin-left: 15%;
}
main {
    width: 75%;
    margin-left: 12%;
}
img.portada {
    border-radius: 3%;
    width: 225px;
    height: 225px;
}

section {
    width: 100%;
    
}

div.toolbar {
    grid-template-columns: 30% 25%;
}
ul.nav {
    padding-left: 180px;
    grid-template-columns: 64% 9% 16% 6%;
}  
ul.nav li {
    width: 100%;
}
img.logo {
    width: 21%;
    top: 12%
}}
@media screen and (max-width: 480px){
li.footer {
    font-size: 10px;
}
h1{
    padding-top: 0px;
}
img.logo {
        width: 34%;
        top: 18%;
}
.canciones {
    font-size: 12px;
}
img.portada {
    width: 195px;
    height: 195px;
}
section {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    margin-top: 9%;
}
.info-container{
    margin-left: 0px;
}
li.buscador{
    display: block;
}
li.ultimo{
    display: none;
}
ul.nav {
    grid-template-columns: 11% 41% 14% 34%;
    padding-left: 134px;
}
img.logo {
    width: 28%;
}
ul.datos-album{
    display: none;
}
button {
    max-width: 136%;

}}
