*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Oswald', sans-serif; 
    background-color: rgba(207, 182, 238, 0.781);
}
/*ENCABEZADO*/
.menuButton {
    position: absolute;
    top: 4%;
    color: #440875;
    left: 4%;
    z-index: 6;
    font-size: 25px;
}
.menuButton:hover {
    color: #dbff4b ;
}
.searchButton{
    position: absolute;
    top: 4%;
    left: 10%;
    z-index: 6;
    font-size: 25px;
    color:#440875;
}
.searchButton:hover {
    color: #dbff4b;
}
ol, ul {
    padding-left: 0px;
}
nav.menu{
    padding-left: 4%;
    padding-top: 3%;
    background-color: rgba(255, 255, 255, 0.274);
    width: 30%;
    height: 100vh;
    z-index: 6;
    display: none;
}
a.menuLink{
    font-size: 28px;
    color: grey;
    text-decoration: none;
}
a.menuLink:hover{
    color:#440875 ;
}
ul.mainMenu{
    padding-top: 15%;
}
li {
    position: relative;
    list-style: none;
    line-height: 55px;
}
li.ultimo a{
    font-size: 20px;
    padding-top: 10px;
}
li.ultimo a img {
    width: 7%;
}
/*REPRODUCTOR*/
nav.miniPlayer{
    width: 35%;
    position: absolute;
    right: 2%;
    top: 3%;
    z-index: 12;
}
ul.playerbuttons{
    display: grid;
    padding-top: 5px;
    grid-template-columns: 7% 7% 7% 5%;
}
div.playerbutton{
    width: 50%;
    position: fixed;
    left: 83%;
    top: 4%;
}
ul.playerbuttons li i{
    font-size: 25px;
    color: #440875;
}
ul.playerbuttons li i:hover {
    color: #dbff4b ;
}
div.info{
    display: grid;
    grid-template-columns: 20% 30%;
}
div.infotyc{
    padding-top: 5px;
}
div.imagenTrack{
    width: 65px;
    height: 65px;
    margin-right: 10px;
    border-radius: 3px;
    border: solid 1px #dbff4b;
}
div.imagenTrack img{
    width: 100%;
}
.titulo {
    font-size: 18px;
    color:gray;
}
p.cantante a{
    font-size: 16px;
    color:gray;
    text-decoration: none;
}
.spanLastSong{
    display: none;
}
/*TITULO*/
section{
    display: grid;
    grid-template-columns: 25% 55%;
    margin: 0 auto;
    width: 75%;
    margin-top: 10%;
    font-family: "raleway";
}
figure{
    width: 100%;
}
img.portada{
    border-radius: 3%;
    width: 250px;
    height: 250px;
}
figure div i{
    color: black;
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 40px;
}
figure div i:hover{
    color:#480082 ;
}
h1{
    font-family: "Roboto" ;
    font-weight: bolder;
    padding-top: 20px;
}
ul.datos-album{
    display: grid;
    grid-template-columns: 18% 10% 18% 18%;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 95px;
}
ul.datos-album li{
    list-style: none;
    font-size: 12px;
}
.info-container{
    margin-left: 12%
}
a{
    text-decoration: none;
    color: black;    
}
.info-container a:hover{
    color: #480082;
    font-weight: bold;
}
button{
    cursor: pointer;
    height: 32px;
    display: inline-flex;
    padding: 0 12px;
    position: relative;
    font-size: 12px;
    max-width: 100%;
    align-items: center;
    font-weight: 600;
    line-height: 30px;
    border-radius: 3px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color:  #480082;
    border: 1px solid #480082;
} 
button.escuchar {
    width: 90%;
}
div.toolbar{
    display: grid;
    grid-template-columns: 15% 25%;
    margin-left: 13%;
}
/*DETALLE*/
main{
    width: 75%;
    margin: 0 auto;
}
.canciones{
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 4% 6% 71% 14% 5%;;
    padding-top: 15px;
    padding-left: 18px;
    border-top: 1px solid white;
    font-size: 17px;
}
i:hover{
    color:#dbff4b;
}
/*FOOTER*/
footer {
    background-color: rgba(250, 108, 61, 0.925);
}
footer ul  {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 10px;
}
li.footer a {
    text-decoration: none;
}
li.footer{
    list-style-type: none; 
    color: black;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: "raleway";
}
.logofooter{
    width: 30px ;
}


@media screen and (max-width: 768px){
nav.miniPlayer{
    display: none;
}
.spanLastSong{
    display: block;
    font-size: 22px;
    color:  #480082;
    position: absolute;
    top: 4%;
    z-index: 8;
    right: 4%
}
.spanLastSong:hover{
    color: #dbff4b ;
}
.searchButton {
    left: 13%;
    font-size: 22px;
}
div.toolbar {
    grid-template-columns: 15% 25%;
    margin-left: 15%;
}
main {
    width: 75%;
    margin-left: 12%;
}
img.portada {
    border-radius: 3%;
    width: 225px;
    height: 225px;
}
ul.datos-album {
    display: none;
}
section {
    grid-template-columns: 58% 13%;
    width: 100%;
    padding-left: 15%;
    margin-top: 12%;
}
h1{
  padding-top: 70px;
}
div.toolbar {
    grid-template-columns: 30% 25%;
}
}
@media screen and (max-width: 425px){
li.footer {
    font-size: 10px;
}
img.logo {
        width: 32%;
}
.canciones {
    font-size: 12px;
}
img.portada {
    width: 195px;
    height: 195px;
}
section {
    grid-template-columns: 60% 13%;
    margin-top: 18%;
}
}